{include file="public/meta" /}

<title> 文件管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
{include file="public/header" /}

{include file="public/menu" /}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文件管理 <span class="c-gray en">&gt;</span> 文件列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> 
				<span class="l">
					<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
					<a href="javascript:;" onclick="member_add('添加文件','{:url("FileManage/createFile")}','800','210')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加文件</a></span> <span class="r">共有数据：<strong></strong> 条</span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="80">ID</th>
							<th width="100">文件名</th>
							<th width="120">文件类型</th>
							<th width="80">文件大小</th>
							<th width="40">可读</th>
							<th width="90">可写</th>
							<th width="150">可执行</th>
							<th width="">创建时间</th>
							<th width="">修改时间</th>
							<th width="">访问时间</th>
							<th width="150">操作</th>
						</tr>
					</thead>
					<tbody>
					
					{php} 
						if (isset($files) && !empty($files)){
							$i = 1;
							foreach ($files['file'] as $val){
							//文件路径
							$pth = $path.'/'.$val;
					{/php}
						<tr class="text-c">
							<td><input type="checkbox" value="{$i}" name=""></td>
							<td>{$i}</td>
							<td><u style="cursor:pointer" class="text-primary" >{$val}</u></td>
							<td>{php}echo filetype($pth) {/php}</td>
							<td>{php}echo sizeformat(filesize($pth))  {/php}</td>
							<td>{php}echo is_readable($pth) {/php}</td>
							<td>{php}echo is_writeable($pth) {/php}</td>
							<td>{php}if(is_executable($pth)){echo "可执行";}else{echo "不可执行";} {/php}</td>
							<td >{php}echo date('Y-m-d H:i:s',filectime($pth)){/php}</td>
							<td>{php}echo date('Y-m-d H:i:s',filemtime($pth)){/php}</td>
							<td class="td-status">{php}echo date('Y-m-d H:i:s',fileatime($pth)){/php}</td>
							<td class="td-manage">
								<a title="查看" href="javascript:;" onclick="member_show('查看','{:url("FileManage/show","filename=".$val)}','{$val}','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe695;</i></a> 
								<a title="重命名" href="javascript:;" onclick="member_add('重命名','{:url("FileManage/rename","filename=".$val)}','800','210')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe66c;</i></a>
								<a title="编辑" href="javascript:;" onclick="member_edit('编辑','{:url("FileManage/editPage","filename=".$val)}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
								<a title="复制" href="javascript:;" onclick="member_copy(this,'{$val}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6ea;</i></a> 
								<a title="剪切" href="javascript:;" onclick="member_cut('剪切','{:url("FileManage/cutPage","filename=".$val)}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe64e;</i></a> 
								<a title="下载" href="javascript:;" onclick="member_download('下载','{:url("FileManage/downloadfile","filename=".$val)}','{$val}','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe640;</i></a>
								<a title="删除" href="javascript:;" onclick="member_del(this,'{$val}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
						</tr>
						
						{php} 
												$i++;
								}
							}
						
						 {/php}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

{include file="public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			/*table.$('tr.selected').removeClass('selected');*/
			$(this).addClass('selected');
		}
	});
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*用户-查看*/
function member_show(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*文件下载*/
function member_download(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
	setTimeout(function(){
		layer.closeAll();
	},2000);
}


/*用户-编辑*/
function member_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-删除*/
function member_del(obj,filename){
	layer.confirm('确认要删除吗？',function(index){
		$.post("{:url('FileManage/del')}",{'filename':filename},function(data){
			if(data.status == 1){
				$(obj).parents("tr").remove();
				layer.msg(data.message,{icon:1,time:1000});
			}else{
				layer.msg(data.message,{icon:2,time:1000});
			}
		});
		
	});
}

function member_copy(obj,filename){
	$.post("{:url('FileManage/copyfile')}",{'filename':filename},function(data){
		if(data.status == 1){
			window.location.reload();
			layer.msg(data.message,{icon:1,time:1000});
		}else{
			layer.msg(data.message,{icon:2,time:1000});
		}
	});
}

/*下载文件
function downloadfile(obj,filename){
	
	$.post("{:url('FileManage/downloadfile')}",{'filename':filename},function(data){
		if(data.status == 0){
			layer.msg(data.message,{icon:2,time:1000});
		}else{
			layer.msg(data.message,{icon:1,time:1000});
		}
	});
}
*/
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>