<!doctype html>
<html>
{include file="frontend/public/header"/}

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="http://s.amazeui.org/media/i/brand/amazeui-b.png" alt="Amaze UI Logo"/>
        <h2 class="am-hide-sm-only">中国首个开源 HTML5 跨屏前端框架</h2>
    </div>
</header>
<!-- header end -->
<hr>

<!-- nav start -->
{include file='frontend/public/nav' /}
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center">{$article.titel}</h1>
          <p class="am-article-meta blog-text-center">
              <span><a href="#" class="blog-color">article &nbsp;</a></span>-
              <span><a href="#">@{$article.author} &nbsp;</a></span>-
              <span><a href="#">{$article.create_time} &nbsp;</a></span>
              <span><a href="#">浏览次数：{$article.glance}</a></span>
          </p>
        </div>        
        <div class="am-article-bd">
        
        <p class="class="am-article-lead"">
        摘要：
        <blockquote><p>{$article.about}</p> <footer>{$article.small_title}</footer></blockquote>
        <p>{$article.article}</p>
       
        <hr>
        </div>
      </article>
        
        <div class="am-g blog-article-widget blog-article-margin">
          <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
            <span class="am-icon-tags"> &nbsp;</span><a href="#">标签</a> , <a href="#">TAG</a> , <a href="#">啦啦</a>
            <hr>
            <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
            <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
            <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
          </div>
        </div>

        <hr>
        <div class="am-g blog-author blog-article-margin">
          <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
            <img src="__STATIC__/frontend/assets/i/f15.jpg" alt="" class="blog-author-img am-circle">
          </div>
          <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
          <h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color">{$article.author}</span></h3>
            <p>{if condition="$user.beizhu == null || $user.beizhu == ''"}这个家伙很懒，什么也没留下！{else /}{$user.beizhu}{/if}</p>
          </div>
        </div>
        <hr>
        <ul class="am-pagination blog-article-margin">
          <li class="am-pagination-prev"><a href="#" class="">&laquo; 一切的回顾</a></li>
          <li class="am-pagination-next"><a href="">不远的未来 &raquo;</a></li>
        </ul>
        
        <hr>

        <form class="am-form am-g" method="post" action="" id="reviews">
            <h3 class="blog-comment">评论</h3>
          <fieldset>
           <!--   <div class="am-form-group am-u-sm-4 blog-clear-left">
              <input type="text" class="" placeholder="名字">
            </div>
            <div class="am-form-group am-u-sm-4">
              <input type="email" class="" placeholder="邮箱">
            </div>

            <div class="am-form-group am-u-sm-4 blog-clear-right">
              <input type="password" class="" placeholder="网站">
            </div>-->
        
            <div class="am-form-group">
            	<input type="hidden" class="" name="uid" value="{$Think.session.blogid}">
            	<input type="hidden" class="" name="aid" value="{$article.id}">
              <textarea class="" rows="5" name="review" placeholder="请输入留言内容.."></textarea>
            </div>
        
            <p><button type="button" class="am-btn am-btn-default" id="sub_review">发表评论</button></p>
          </fieldset>
        </form>

        <hr>
        
        <!-- 显示留言区域 -->
        {volist name = "reviews" id="vo"}
         <div class="am-g blog-author blog-article-margin">
          <div class="am-u-sm-5 am-u-md-5 am-u-lg-3" style="text-align:center">
            <img src="__STATIC__/frontend/assets/i/f15.jpg" alt="" class="blog-author-img am-circle"><br/>
        	 <span class="blog-color" style="display:block;margin-top:4px">{$article.author}</span>
          </div>
          <div class="am-u-sm-7 am-u-md-7 am-u-lg-9" style="padding-top:20px">
          
            <p>{$vo.review}</p>
            <span style="float:right">{$vo.create_time}</span>
          </div>
        </div><hr/>
        {/volist}
        <!-- end -->
        
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>个人中心</span></h2>
            {if condition = "$Think.session.blogid == null || $Think.session.blogid == ''"}尚未登录，<a href="{:url('FrontendLog/log')}" style="color:red">点此登录</a><br/><br/><br/>{else /}
            <img src="__STATIC__/frontend/assets/i/f14.jpg" alt="about me" class="blog-entry-img" >
            <p>会员状态：{if condition = "$user.vip == '未激活'"}<a id="vipstatus" class = 'active-vip' style="color:red" href="#">点击激活</a>{else /}{$user.vip}{/if}</p>
            <p>{if condition = "$user.vip == '已激活'"}到期时间：{$user.vipend|date="Y-m-d",###}  <a style="color:red" class = "add-vip" href="#">续费</a></tr>
      {/if}</p>
            <p>用户名：{if condition="$user.username == null || $user.username == ''"}博客用户{$user.id}{else/}{$user.username}{/if}</p>
            <p>邮箱：{:session('blogemail')}</p>
            <p>{if condition="$user.beizhu == null || $user.beizhu == ''"}这个家伙很懒，什么也没留下！{else /}{$user.beizhu}{/if}</p>{/if}
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>关注我</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>标签</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            <a href="" class="blog-tag">amaze</a>
            <a href="" class="blog-tag">妹纸 UI</a>
            <a href="" class="blog-tag">HTML5</a>
            <a href="" class="blog-tag">这是标签</a>
            <a href="" class="blog-tag">Impossible</a>
            <a href="" class="blog-tag">开源前端框架</a>
            </div>
        </div>
    </div>
</div>
<!-- content end -->


 <footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>模板简介</h3>
            <p class="am-text-sm">这是一个使用amazeUI做的简单的前端模板。<br> 博客/ 资讯类 前端模板 <br> 支持响应式，多种布局，包括主页、文章页、媒体页、分类页等<br>嗯嗯嗯，不知道说啥了。外面的世界真精彩<br><br>
            Amaze UI 使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 Amaze UI 及其副本。</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <h3>Credits</h3>
            <p>我们追求卓越，然时间、经验、能力有限。Amaze UI 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>我们站在巨人的肩膀上</h1>
             <h3>Heroes</h3>
            <p>
                <ul>
                    <li>jQuery</li>
                    <li>Zepto.js</li>
                    <li>Seajs</li>
                    <li>LESS</li>
                    <li>...</li>
                </ul>
            </p>
        </div>
    </div>    
    <div class="blog-text-center">© 2015 AllMobilize, Inc. Licensed under MIT license. Made with love By LWXYFER</div>    
  </footer>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/frontend/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__STATIC__/frontend/assets/js/amazeui.min.js"></script>
<!-- <script src="assets/js/app.js"></script> -->
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script>
	$(function(){
		$("#sub_review").on("click",function(){
			$.post("{:url('FrontendIndex/review')}",$("#reviews").serialize(),function(data){
				alert(data.message);
				if(data.status == 1 ){
					window.location.href ="{:url('FrontendIndex/articleDiteils',['id'=>$article.id])}";
				}
			});
		});
		
		//激活会员
		$(".active-vip").on('click',function(){
			layer.confirm('激活会员需支付每月 10 元的费用，您确定要激活吗？',function(){
				$.post("{:url('Vip/active',['id'=>$user.id])}",function(data){
					if(data.status == 1){
						$("#vipstatus").html('已激活');
						$("#vipstatus").parent().after(data.result);
						layer.msg('已激活!',{icon: 6,time:1000});
						
					}
				});
			});
		});
		
		//续费会员
		$(".add-vip").on('click',function(){
			layer.confirm('续费会员需支付10 元的费用，您确定要续费吗？',function(){
				$.post("{:url('Vip/renew',['id'=>$user.id])}",function(data){
					if(data.status == 1){
						$(".endtime").html(data.html);
						layer.msg('续费成功!',{icon: 6,time:1000});
						setTimeout(function(){
							history.go(0);
						},1000);
					}
				});
			});
		});
	});
</script>
</body>
</html>